# Assignment 3

# 1.Indexing

In [2]:
employee_data = ['Ali', 125000, 'Google', 5]
employee_data

['Ali', 125000, 'Google', 5]

In [5]:

#Exemple 1
msg=employee_data[0] + " is working in " + employee_data[2] + " for " + str(employee_data[-1]) + "year and his salery is " + str(employee_data[1])
msg

'Ali is working in Google for 5year and his salery is 125000'

In [6]:

#Exemple 2

studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
				'28 Januray 2020', '05 February 2020']
studentData

['Ahmed',
 'Bilal',
 'Government College University',
 'Computer Science',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020']

In [37]:

msg1="Hello " + studentData[0] + " " + studentData[1] + " , " """\n""" + " Your application is accepted for admision in " + studentData[4]+ " "+ studentData[3]  + " in " + studentData[2] + "." + """\n""" + " YOu have submitted feee " + str(studentData[5]) + ' before ' + studentData[6] + " . " + """\n""" + "Your class will be start from " + studentData[-1] + "." + """\n""" +"Thanks"
print(msg1)

Hello Ahmed Bilal ,
 Your application is accepted for admision in BS Computer Science in Government College University.
 YOu have submitted feee 50000 before 28 Januray 2020 .
Your class will be start from 05 February 2020.
Thanks

# 2.Slicing

In [40]:
 cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
 print(cities)

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

 # Positive Slicing

In [47]:

 # 1
cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [48]:
# 2
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [49]:
# 3
cities[5:8]

['Sahiwal', 'Rawalpindi', 'Sialkot']

# Nagtive  Slicing

In [52]:

# 1
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [64]:
# 2.
cities[-5:9]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3.Update list

# Add valus by append method

In [77]:
# Append method

studentData2 = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData2

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [78]:
studentData2.append("20 February 2019")
studentData2.append(8)
studentData2

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 5,
 'University of Agriculture',
 '20 February 2019',
 8]

# Add valuse by insert method

In [80]:
# Insert method 
studentData2 = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData2

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [81]:
studentData2.insert(4,2500)
studentData2

['Ali Raza',
 22,
 91.24,
 'Computer Science',
 2500,
 5,
 'University of Agriculture']

In [82]:
studentData2.insert(1, "M. Iqbal")
studentData2

['Ali Raza',
 'M. Iqbal',
 22,
 91.24,
 'Computer Science',
 2500,
 5,
 'University of Agriculture']

# Remove Values

In [83]:



del studentData2[4] # del method
studentData2

['Ali Raza', 'M. Iqbal', 22, 91.24, 2500, 5, 'University of Agriculture']

In [84]:
studentData2.remove(91.24)  # Remove method

In [85]:
studentData2

['Ali Raza', 'M. Iqbal', 22, 2500, 5, 'University of Agriculture']

# Update Values

In [86]:
studentData2[0]="Zohaib Ali"
studentData2

['Zohaib Ali', 'M. Iqbal', 22, 2500, 5, 'University of Agriculture']

In [87]:
studentData2[4]=7

In [88]:
studentData2

['Zohaib Ali', 'M. Iqbal', 22, 2500, 7, 'University of Agriculture']

# Removing values by pop method

In [89]:
studentData2

['Zohaib Ali', 'M. Iqbal', 22, 2500, 7, 'University of Agriculture']

In [90]:
# 1. last value from list 

a = studentData2.pop(-1)

In [91]:
a

'University of Agriculture'

In [92]:
# 2. value at 3rd index

b = studentData2.pop(3)
b

2500

# 4. Multidimensional list tasks

In [93]:
employeeData1 = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
employeeData1

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

# Foor Loop 
# Tasks

In [100]:
# 1. Print name of employees with salaray greater than 50000.
for emp in employeeData1:
    if  emp[1]>50000:
        print(emp[1])

55000
79000

In [102]:
# 2. Calculate total salary of all employees

tot_salary=0
for emp in employeeData1:
    tot_salary +=emp[1]
    tot_salary

In [103]:
tot_salary

213000

# List update tasks

In [104]:
# 1. Change salary of nasir from 79000 to 90000 and designation to "Product Manager
employeeData1

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

In [105]:
employeeData1[2][1]=90000
employeeData1

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

In [106]:
employeeData1[2][2]="Product Manger"
employeeData1

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manger'],
 ['Khalid', 44000, 'DBA']]

In [107]:
# 2. Change salary of Khalid to 50000
employeeData1[3][1]=50000
employeeData1

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manger'],
 ['Khalid', 50000, 'DBA']]

# 5. Login User

In [ ]:
username="shahid"
password="123456"
if username=="shahid":
    if password=="123456":
            print("Login Successful")
            print("password success")
    else:
        print("password fail")
else:
    
    print("Login Failed")