In [1]:
employees=[['Shahid', 21, 'Male', 'AI Eng', 'AI Eng', 'AI Eng'],
 ['Ali', 22, 'Male'],
 ['Nasir', 33, 'Male', 'shahid'],
 ['sajid', 43, 'Male']]
employees

[['Shahid', 21, 'Male', 'AI Eng', 'AI Eng', 'AI Eng'],
 ['Ali', 22, 'Male'],
 ['Nasir', 33, 'Male', 'shahid'],
 ['sajid', 43, 'Male']]

In [6]:
employees[0][1]+employees[1][1]+employees[2][1]+employees[3][1]

119

In [13]:
tot_age=0
for emp in employees:
    tot_age +=emp[1]
    tot_age

In [14]:
print(tot_age)

119

In [15]:
for emp in employees:
    a = emp[0]
    print(a)

Shahid
Ali
Nasir
sajid

In [16]:
for emp in employees:
    b = emp[-1]
    print(b)

AI Eng
Male
shahid
Male

In [17]:
employees1=[['Shahid', 21, 'Male', 25000],
 ['Ali', 22, 'Male', 30000],
 ['Nasir', 33, 'Male',22000],
 ['sajid', 43, 'Male',36000]]
employees1

[['Shahid', 21, 'Male', 25000],
 ['Ali', 22, 'Male', 30000],
 ['Nasir', 33, 'Male', 22000],
 ['sajid', 43, 'Male', 36000]]

In [18]:
for emp in employees1:
    if emp[3]>22000:
        print(emp[3])

25000
30000
36000

In [19]:
tot =0
for emp in employees1:
    if emp[3]>=25000:
        tot +=emp[3]
        print(tot)

25000
55000
91000