In [1]:
name = "shahid"
age = 23
salery=3000
Class="AI"
University = "Sargodha"
f.name="Aslam"
gender="Male"

In [2]:
student=["shahid",23,"AI","Sargodha"]
student

['shahid', 23, 'AI', 'Sargodha']

In [6]:
student.append("Aslam")

In [4]:
student

['shahid', 23, 'AI', 'Sargodha', 'Aslam']

In [7]:
student

['shahid', 23, 'AI', 'Sargodha', 'Aslam', 'Aslam']

In [8]:
student.insert(2,3000)

In [9]:
student

['shahid', 23, 3000, 'AI', 'Sargodha', 'Aslam', 'Aslam']

In [10]:
student[1]

23

In [12]:
student[4]

'Sargodha'

In [13]:
student[1]=25 #for value update
student

['shahid', 25, 3000, 'AI', 'Sargodha', 'Aslam', 'Aslam']

In [14]:
student[0]="Shahid"
student

['Shahid', 25, 3000, 'AI', 'Sargodha', 'Aslam', 'Aslam']

In [15]:
student[2]=40000
student

['Shahid', 25, 40000, 'AI', 'Sargodha', 'Aslam', 'Aslam']

In [16]:
student[3]="Cloud Computing"
student

['Shahid', 25, 40000, 'Cloud Computing', 'Sargodha', 'Aslam', 'Aslam']

In [18]:
student[4]="GC"
student

['Shahid', 25, 40000, 'Cloud Computing', 'GC', 'Aslam', 'Aslam']

In [19]:
student[-3]="Faisalabad"

In [20]:
student

['Shahid', 25, 40000, 'Cloud Computing', 'Faisalabad', 'Aslam', 'Aslam']

In [21]:
student[-4]="Artifical Inteligence"
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Aslam', 'Aslam']

In [22]:
del student[6]
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Aslam']

In [23]:
del student[-1]
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad']

In [25]:
student.append("Aslam")
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Aslam']

In [28]:
student.append("Male")

In [29]:
student

['Shahid',
 25,
 40000,
 'Artifical Inteligence',
 'Faisalabad',
 'Male',
 'Male',
 'Aslam',
 'Male']

In [30]:
print (student)

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Male', 'Male', 'Aslam', 'Male']

In [31]:
del student[6]
student

['Shahid',
 25,
 40000,
 'Artifical Inteligence',
 'Faisalabad',
 'Male',
 'Aslam',
 'Male']

In [32]:
del student[5]
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Aslam', 'Male']

In [34]:
len (student)

7

In [35]:
type(student)

list

In [36]:
marks=[89,87,78,94,68]
marks

[89, 87, 78, 94, 68]

In [39]:
msg=student[0] + " get " + str(marks[3]) + " in AI "
msg

'Shahid get 94 in AI '

In [41]:
student

['Shahid', 25, 40000, 'Artifical Inteligence', 'Faisalabad', 'Aslam', 'Male']

In [42]:
student.index("Male")

6

In [43]:
student.index(40000)

2

In [44]:
student.index("Faisalabad")

4