In [1]:
employee_name = "Shahid"
employee_age = 27
employee_gender = "Male"

In [2]:
employee1=["Shahid",27,"Male"] #list is a hetrogenous , list may contain same data type and maybe differnt data type 
employee1

['Shahid', 27, 'Male']

In [3]:
type(employee1)

list

# list is h hetrogeneous and odered

# There is two types of indexing
 1.positive indexing . its start from 0 , from left to right
 
 2.negative  indexing . its start from -1 , from right to left

In [11]:
employee2=[]
type(employee2)

list

In [9]:
employee2.append("Ali") #append use to add data set/element in the list in last 
employee2.append(22)
employee2.append("Male")

In [10]:
employee2

['Ali', 22, 'Ali', 22, 'Male', 'Ali', 22, 'Male']

In [13]:
employee2

[]

In [14]:
employee1[1]

27

In [16]:
employee1[-1]

'Male'

In [17]:
employee1[-2]

'Male'

In [19]:
student = ["Name",34,"male","sargodha university"]
student

['Name', 34, 'male', 'sargodha university']

In [22]:
student[-2],student[-1]

('male', 'sargodha university')

In [23]:
student.append("AI")

In [24]:
student

['Name', 34, 'male', 'sargodha university', 'AI']

In [25]:
student.insert(2,"Salery") # value is addes at specific location
student

['Name', 34, 'Salery', 'male', 'sargodha university', 'AI']

In [28]:
student[0]="Shahid"  # value is updated

In [29]:
student

['Shahid', 'Shahid', 'Salery', 'male', 'sargodha university', 'AI']

In [30]:
student

['Shahid', 'Shahid', 'Salery', 'male', 'sargodha university', 'AI']

In [31]:
student[1]="M.Shahid" #value is updated
student

['Shahid', 'M.Shahid', 'Salery', 'male', 'sargodha university', 'AI']

In [33]:
student[-2]="GC University"
student

['Shahid', 'M.Shahid', 'Salery', 'male', 'GC University', 'AI']

In [35]:
del student[1] #del say list ka koi b elemnt ko remove krny k lia use krty ha location ki base par krta ha 
student

['Shahid', 'Salery', 'male', 'GC University', 'AI']

In [36]:
student.index("male") # index ko hum kasi b element ka index find krny k use krty han

2

In [37]:
len(student) #list ki lenghth find krny k lia

5

In [38]:
student.remove("AI") # list ma say element ko remove krta ha element ki base k name par 
student

['Shahid', 'Salery', 'male', 'GC University']

In [39]:
student

['Shahid', 'Salery', 'male', 'GC University']

In [42]:
student2=['Shahid',21, 'Male']
student3=['Ali',22, 'Male']

# list of list

In [43]:
employees=[student2,student3,["Nasir",33,"Male"],["sajid",43,"Male"]]
employees

[['Shahid', 21, 'Male'],
 ['Ali', 22, 'Male'],
 ['Nasir', 33, 'Male'],
 ['sajid', 43, 'Male']]

In [44]:
print(employees)

[['Shahid', 21, 'Male'], ['Ali', 22, 'Male'], ['Nasir', 33, 'Male'], ['sajid', 43, 'Male']]

In [45]:
len(employees)

4

In [47]:
employees[0][1]+employees[1][1]+employees[2][1]+employees[3][1] # all student ki age ko calculate krny k lia

119

In [48]:
employees[0][1],employees[1][1],employees[2][1],employees[3][1]

(21, 22, 33, 43)

In [49]:
employees[2].append("shahid")

In [50]:
employees

[['Shahid', 21, 'Male'],
 ['Ali', 22, 'Male'],
 ['Nasir', 33, 'Male', 'shahid'],
 ['sajid', 43, 'Male']]

# for loops

In [51]:
tot_age = 0
for lst in employees:
    tot_age +=lst[1]

In [52]:
tot_age

119

In [54]:
for i in employees:
    print(i[0])

Shahid
Ali
Nasir
sajid

In [55]:
for g in employees:
    print(g[1])

21
22
33
43

In [56]:
for h in employees:
    print(h[2])

Male
Male
Male
Male

In [57]:
student2

['Shahid', 21, 'Male']

In [60]:
student2.append("AI Eng")
student2

['Shahid', 21, 'Male', 'AI Eng', 'AI Eng', 'AI Eng']

# Slicing 
                 Taking contious things or element

In [63]:
student2[1:5]

[21, 'Male', 'AI Eng', 'AI Eng']

In [64]:
student2[2:4]

['Male', 'AI Eng']

In [70]:
student2[-2:5]

['AI Eng']

In [71]:
student2[1:]

[21, 'Male', 'AI Eng', 'AI Eng', 'AI Eng']

In [73]:
student2[:4]

['Shahid', 21, 'Male', 'AI Eng']

In [75]:
student2[1:-1]

[21, 'Male', 'AI Eng', 'AI Eng']

In [77]:
student2[1:4:2]

[21, 'AI Eng']

In [78]:
employees

[['Shahid', 21, 'Male', 'AI Eng', 'AI Eng', 'AI Eng'],
 ['Ali', 22, 'Male'],
 ['Nasir', 33, 'Male', 'shahid'],
 ['sajid', 43, 'Male']]

# pop

In [85]:
a = employees[0].pop(3)

In [86]:
a

'AI Eng'

In [88]:
b = employees[0].pop(2)

In [89]:
b

'Male'

# conditional statments

# comparision operator
 `==` equal to / equality
 * !=
 * >
 * <
 * >=
 * </

In [90]:
2==2

True

In [91]:
h="true"

In [92]:
h

'true'

In [93]:
h = "false"

In [94]:
type(h)

str

In [96]:
for emp in employees:
    print(emp)

['Shahid', 21, 'AI Eng', 'AI Eng']
['Ali', 22, 'Male']
['Nasir', 33, 'Male', 'shahid']
['sajid', 43, 'Male']

In [100]:
for emp in employees:
    if emp[1] > 25:
     print(emp[1])

33
43

In [101]:

for emp in employees:
    if emp[1] > 25:
     print(emp[1])

33
43

In [113]:
username = "shahid "
passward = "123456"
if username == "shahid":
    print("username is correct")
if passward == "123456":
    print("log")
    else: 
    print("incorrect")
else:
    print("incorrect")

SyntaxError: invalid syntax (<ipython-input-113-f8bc04bcdedf>, line 7)

In [112]:
marks = 89