In [1]:
num = 2+3 #its store the value  
           # assignment operator

In [3]:
num #its display 5 because its recall the stored value

5

In [4]:
a=3
b=3
new_num=a+b

In [5]:
new_num

6

# Legal Variable
* Letter , underscore , number
* Variable won't start from a number

In [8]:
my_name="Shahid"
print(my_name)

Shahid

In [9]:
posi123tion_1=23

In [10]:
type(num)

int

In [11]:
my_name

'Shahid'

In [12]:
print(type(my_name))

<class 'str'>

In [13]:
type(my_name)

str

In [14]:
urname='Shahid'             #string single and double quetation m hoti h

In [17]:
decimal=2.3
type(decimal)               # type for check data type

TypeError: 'float' object is not callable

In [18]:
class3=                     #its gave the error because wo dont gave any value
type(class3)

SyntaxError: invalid syntax (<ipython-input-18-11cd874339df>, line 1)

In [19]:
num

5

In [20]:
num =41

In [21]:
num

41

In [28]:
num + 5

46

In [29]:
num = num +3

In [30]:
num

44

In [31]:
 num += 2            #num +=2 is a short of num=num+2

In [32]:
num

46

In [33]:
num -=2

In [34]:
num

44

In [35]:
num /=2

In [36]:
num

22.0

In [37]:
num **=2

In [38]:
num

484.0

In [39]:
2/2 # division gives answer in float

1.0

In [41]:
"Muhammad " + my_name

'Muhammad Shahid'

In [43]:
"Muhammad" + " " + my_name

'Muhammad Shahid'

In [44]:
my_name+str(3)

'Shahid3'

In [45]:
my_name+"3"

'Shahid3'

In [46]:
my_name+3 #error because dont add one string and num

TypeError: can only concatenate str (not "int") to str

In [47]:
my_name + str(num)

'Shahid484.0'

In [48]:
my_name += str(num)

In [49]:
my_name

'Shahid484.0'

In [50]:
float("2.5")                        #convert one data type to an other date type is called type casting

2.5

In [51]:
int("2.3")

ValueError: invalid literal for int() with base 10: '2.3'

In [52]:
int(float("2.3"))

2

In [53]:
float("shahid3")                              #its not capable to convert

ValueError: could not convert string to float: 'shahid3'

In [54]:
str(1000$)

SyntaxError: invalid syntax (<ipython-input-54-49deabd200fe>, line 1)

In [55]:
str("1000$")

'1000$'

`+ Addition
 - 
 *
 /

In [1]:
5%3

2

In [2]:
6%3

0

In [3]:
5 ** 2 % 3

1

In [6]:
Floor = 7//2

In [5]:
Floor

3

In [7]:
6/2

3.0

In [11]:
value = 27/4

In [12]:
value

6.75

In [13]:
int(value)

6