In [1]:
student1=["Shahid",22,"Male","AI","CNIC1"]
student2=["Yasir",23,"Male","CC","CNIC2"]
student3=["Zaid",24,"Male","Cloud","CNIC3"]

In [2]:
student=[student1,student2,student3,["Mazhar",24,"AI","CNIC4"],["Ali",22,"CC","CNIC5"]]
student

[['Shahid', 22, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'AI', 'CNIC4'],
 ['Ali', 22, 'CC', 'CNIC5']]

In [3]:
student[0][1]=25 # value updated

In [4]:
student

[['Shahid', 25, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'AI', 'CNIC4'],
 ['Ali', 22, 'CC', 'CNIC5']]

In [5]:
student[3].insert(3,20000)
student

[['Shahid', 25, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'AI', 20000, 'CNIC4'],
 ['Ali', 22, 'CC', 'CNIC5']]

In [6]:
student[4].insert(3,"Male")
student

[['Shahid', 25, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'AI', 20000, 'CNIC4'],
 ['Ali', 22, 'CC', 'Male', 'CNIC5']]

In [8]:
student[3][2]="Male"
student

[['Shahid', 25, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'Male', 'Male', 'CNIC4'],
 ['Ali', 22, 'CC', 'Male', 'CNIC5']]

In [9]:
del student[0][4]

In [10]:
student

[['Shahid', 25, 'Male', 'AI'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'Male', 'Male', 'CNIC4'],
 ['Ali', 22, 'CC', 'Male', 'CNIC5']]

In [11]:
student[0].append("CNIC1")
student

[['Shahid', 25, 'Male', 'AI', 'CNIC1'],
 ['Yasir', 23, 'Male', 'CC', 'CNIC2'],
 ['Zaid', 24, 'Male', 'Cloud', 'CNIC3'],
 ['Mazhar', 24, 'Male', 'Male', 'CNIC4'],
 ['Ali', 22, 'CC', 'Male', 'CNIC5']]

In [21]:
print(student[0][1]+student[1][1]+student[2][1]+student[3][1]+student[4][1])

118

In [19]:
print(student[0][1],student[1][1],student[2][1],student[3][1],student[4][1])

25 23 24